@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap')

*

    margin: 0
    padding: 0
    box-sizing: border-box
    text-align: justify
    

body
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    height: 40vw
    background-color: hsl(233, 47%, 7%)


    .body
        display: flex
        align-items: center
        justify-content: center
        width: 66vw
        height: 28vw
        background-color: hsl(244, 38%, 16%)
        
        img
            height: 28vw
            width: 33vw
            filter: drop-shadow(#8080c0)

        .text
            width: 33vw
            height: 20vw
            display: flex
            flex-direction: column
            justify-content: space-between
            padding-left: 4%
            color: white

            
        .title
            font-family:"inter"
            font-size: 35px

            span
                color: hsl(277, 64%, 61%)
        
        .details
           font-family: "lexend"
           width: 40vw
           color: rgb(151, 151, 151)

        .statics
            display: flex
            justify-content: space-between
            width: 25vw
            .bold
                font-weight: bold
                 font-size: 18px


            .span
                color: rgb(151, 151, 151)
                font-size: 10px