@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap')


    
*

    margin: 0
    padding: 0
    box-sizing: border-box
    text-align: justify
    

body
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    min-height: 100vh
    width: 100%
    background-color: hsl(233, 47%, 7%)


    .body
        display: flex
        align-items: center
        justify-content: space-between
        min-width: 600px
        width: 76vw
        // height: 34vw
        background-color: hsl(244, 38%, 16%)
        border-radius: 10px/10px
        
        .img
            background-image: url("../images/image-header-desktop.jpg")
            min-width: 12.5em
            min-height: 10em
            height: 34vw
            width: 34vw
            background-repeat: no-repeat
            background-size: cover
            border-radius: 0px 10px 10px 0px

        .text
            min-width: 300px
            width: 40vw
            // height: 22vw
            display: flex
            flex-direction: column
            color: white
            padding: 5.85em 7em 5.85em 5.85em
            
            
        .title
            font-family:"inter"
            font-size: 1.8em
            font-weight: 700
            // width: 11em
            height: auto
            margin-bottom: 2rem


            span
                color: hsl(277, 64%, 61%)
        
        .details
           height: auto
           font-size: 0.85em
           font-family: "inter"
           font-weight: 400
           color: rgb(151, 151, 151)
           margin-bottom: 3rem
           //    width: 25vw
        .statics
            display: flex
            justify-content: space-between
            list-style: none
            // width: 25vw
            .bold
                font-weight: bold
                font-size: 1.125em


            .span
                color: rgb(151, 151, 151)
                font-size: 0.625em
                font-family: "inter"
                font-weight: 700

@media (max-width: 600px)

   body
    .body
        display: flex
        flex-direction: column-reverse
        height: 90vh
        min-width: 85vw 

        .img
            height: auto
            min-width: 85vw
            border-radius: 10px 10px 0px 0px
        
        .text
            // height: 50vh
            // width: 80vw
            // padding: 3em 4.5em 3em 3em
            align-items: center
        
        .title
            // width: 80vw
            text-align: center
        .details
            // width: 76vw
            text-align: center

        .statics
            flex-direction: column
            align-items: center
            // width: 80vw
            // height: 18vh

@media (max-width: 1024px)
    body
        .body
            .text
                padding: 3em 4.5em 3em 3em
            .title
                font-size: 1.1em
            .details
                font-size: 0.5em
        
        .statics
            .bold
                font-size: 1em
            .span
                font-size: 0.4em